<div class="content" >

    <mat-card class="cardApoio ">
        <div>
            <h1>Apoio</h1>
        </div>
        <div class="apoioContent">
            <mat-card class="cardApoiador mat-elevation-z8">
                <a  target="_blank" 
                    href="https://www.adamantina.sp.gov.br">
                    <img class="logo" src="../assets/img/adtLogo.png"> 
                </a>
                <div class="altAdt" fxLayout="column">
                    <span class="altAdtItem"><mat-icon> phone</mat-icon> <p>(18) 3502-9000</p></span>
                    <span class="altAdtItem"><mat-icon> email</mat-icon>ouvidoria.pma@adamantina.sp.gov.br</span>
                    <span class="altAdtItem"><mat-icon> map</mat-icon>Rua Osvaldo Cruz, 262 - Centro</span>
                    <span class="altAdtItem"><mat-icon>watch_later</mat-icon>Segunda a Sexta Feira das 07:30 as 11:00 e das 13:00 as 17:30</span>
                </div>
            </mat-card>
            <mat-card class="cardApoiador mat-elevation-z8">
                <a  target="_blank" 
                    href="https://www.fatec.edu.br/adamantina/">
                <img class="logo" src="../assets/img/cropped-Logo-fatec-Adamantina-1-2.png"> 
                </a>
                <div class="altAdt" fxLayout="column">
                    <span class="altAdtItem"><mat-icon> phone</mat-icon>(18) 3522-4181</span>
                    <span class="altAdtItem"><mat-icon> email</mat-icon> f291adm@cps.sp.gov.br</span>
                    <span class="altAdtItem"><mat-icon> map</mat-icon>Rua Paraná, 400 - Jardim Brasil</span>
                    <span class="altAdtItem"><mat-icon>watch_later</mat-icon>Segunda a Sexta Feira das 08:00 as 23:00</span>
                </div>
            </mat-card>
        </div>
    </mat-card>

</div>  
