@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.content{
    display: flex;
    width: 100%;
    height: 100%;
}

.cardApoio{
    width:100%;
    z-index: 0;

    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    background-color: white;
    margin:10px;
    height: max-content;

    div h1{
        text-align: center;
        margin-top: 0px;
    }

    .apoioContent{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.cardApoiador{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 10px;


    .logo{
        width: 100%;
        height: auto;
    }

    a{
        width: 30%;
    }

    .altAdt{
        width: 70%;
        display: flex;
        flex-direction: column;
        font-size: 1vw;

        mat-icon{
            display: contents;
            font-size: 1.7vw;
        }
        
        .altAdtItem:hover{
            color: #742eff;
        }

        .altAdtItem{
            display: flex;        
            align-items: center;

            p{
                margin: 0px;
            }
        }
    }
}

