<div class="content" >
    <div class="linha" fxLayout="row">
        <mat-card class="cardMapa mat-elevation-z8">
            <div class="item" fxFlex="100">
                <h1>Avanço da doença</h1>
                <canvas class="mapa" id="myChart2" width="2" height="1"></canvas>
            </div>
        </mat-card>
    </div>
    <div class="linha" fxLayout="row">
        <mat-card class="cardMapa mat-elevation-z8">
            <div class="item" fxFlex="100">
                <h1>Casos por idade</h1>
                <canvas class="mapa" id="myChart3" width="1" height="1"></canvas>
            </div>
        </mat-card>
    </div>

    <div class="linha" fxLayout="row">
        <mat-card class="cardMapa mat-elevation-z8">
            <div class="item" fxFlex="100">
                <h1>Bairros mais afetados</h1>
                <canvas class="mapa" id="myChart" width="1" height="1"></canvas>
            </div>
        </mat-card>
    </div>
</div>


