<mat-toolbar class="mat-elevation-z8">
  <button
    class="mat-icon-button"
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>

  </button>

  <a class="logoLink" href="/">
    <p class="logoManual">INFO</p><p class="dengueManual">DENGUE</p>
  </a>
    
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <button mat-button class="menu-button" routerLink="/mapa">
      <mat-icon>map</mat-icon>
      <span>Mapa</span>
    </button>
    <button mat-button class="menu-button" routerLink="/metricas">
      <mat-icon>timeline</mat-icon>
      <span>Métricas</span>
    </button>
    <button mat-button class="menu-button" routerLink="/dicas">
      <mat-icon>healing</mat-icon>
      <span>Dicas de Saúde</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/contato">
      <mat-icon>contact_support</mat-icon>
      <span>Contatos</span>
    </button>
    
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>
