<div class="content" >

    <mat-card class="cardApoio ">
        <div>
            <h1>Apoio</h1>
        </div>
        <div class="apoioContent">
            <mat-card class="cardApoiador mat-elevation-z8">
                <h2>Sintomas mais comuns:</h2>
                <ul>
                    <li>Febre alta(geralmente acima dos 39ºC)</li>
                    <li>Dor atrás dos olhos</li>
                    <li>Dor nas juntas</li>
                    <li>Dores no corpo</li>
                </ul>
            </mat-card>
            <mat-card class="cardApoiador mat-elevation-z8">
                <h2>Dicas de prevenção:</h2>
                <ul>
                    <li>Utilize repelente</li>
                    <li>Cubra a maior parte do corpo, quando possível</li>
                    <li>Elimine os focos de água parada</li>
                    <li>Coloque telas em janelas e portas</li>
                    <li>Aplique inseticidas e larvicidas</li>
                </ul>
            </mat-card>
        </div>
    </mat-card>
</div>  
