.map{
    width:100%;
    height: 100%;
    z-index: 0;
}

.content{
    display: flex;
    width: 100%;
    height: 100%;
}

.cardMapaFull{

    display: flex;
    flex-direction: column;

    h1{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h3{
        margin-top: 0px;
        margin-bottom: 0px;
        width: fit-content;
    }

    .labelRural-red{
        background-color: #FF0100;
    }
    .labelRural-darkOrange{
        background-color: #FD6000;
    }
    .labelRural-orange{
        background-color: #FF9B00;
    }
    .labelRural-lightOrange{
        background-color: #FFD81B;
    }
    .labelRural-yellow{
        background-color: #FFFF00;
    }
    .labelRural-lightYellow{
        background-color: #FFEDA0;
    }

    h4{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 10px;
        font-weight: normal;
    }

    font-family: 'Poppins';
    background-color: white;
    width: 100%;
    margin:10px;
}