<div class="content" >

     <mat-card class="cardMapaFull mat-elevation-z8">

          <h1>Acompanhe aqui os casos de covid da sua região!</h1>
          <h3 class="labelRural-{{gravidadeRural}}">Dados da Zona Rural:{{dataRural}}</h3>
          <h4>Dados atualizados em 13/05/2022*</h4>

          <div class="map" id="Mapa" *ngIf="isReady"
               leaflet 
               [leafletOptions]="options"
               (leafletMapReady)="onMapReady($event)">
          </div>

     </mat-card>

</div>     
     
